form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  background-image:  url("../../1.webp");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.extra {
  border: 2px solid rgb(169, 6, 6);
  background-color: rgb(235, 169, 169);
  border-radius: 10px;
  padding: 20px;
}

input {
  display: flex;
  margin-bottom: 18px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(225, 11, 11);
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

.select{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

button {
  margin: 18px 0;
  border: 2px solid rgb(225, 11, 11);
  border-radius: 10px;
  height: 30px;
  width: 80%;
}
